

<body class="vertical-layout vertical-menu-modern 1-column  navbar-floating footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-xl-7 col-10 d-flex justify-content-center">
                        <div class="card bg-authentication rounded-0 mb-0 w-100">
                            <div class="row m-0">
                                <div class="col-lg-6 d-lg-block d-none text-center align-self-center p-0">
                                    <img src="assets/app-assets/images/pages/reset-password.png" alt="branding logo">
                                </div>
                                <div class="col-lg-6 col-12 p-0">
                                    <div class="card rounded-0 mb-0 px-2">
                                        <div *ngIf="istext == true" class="card-header pb-1">
                                            <div  class="card-title">
                                                <h4 class="mb-0">Reset Password</h4>
                                            </div>
                                        </div>
                                        <p *ngIf="istext == true" class="px-2">Please enter your new password.</p>
                                        <div class="card-content">
                                            <div class="card-body pt-1">
                                                <form id="reset-form" [formGroup]="resetPasswordForm">
                                                    <!-- <fieldset class="form-label-group">
                                                        <input type="text" class="form-control" id="user-email" placeholder="Email" required>
                                                        <label for="user-email">Email</label>
                                                    </fieldset> -->

                                                    <div class="form-group">
                                                        <input type="password" class="form-control" id="user-password" placeholder="Password"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                                        <password-strength-meter [password]="password.value" [enableFeedback]="true"></password-strength-meter>
                                                        <label class="col" [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                                        <i class="{{ resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('minlength') ? 'fas fa-times-circle' : 'fas fa-check-circle' }}"></i>
                                                        Must be at least 8 characters!
                                                        </label>
                                                        <label class="col" [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                                        <i class="{{ resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasNumber') ? 'fas fa-times-circle' : 'fas fa-check-circle' }}"></i>
                                                        Must contain at least 1 number!
                                                        </label>
                                                        <label class="col" [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                                        <i class="{{ resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasCapitalCase') ? 'fas fa-times-circle' : 'fas fa-check-circle' }}"></i>
                                                        Must contain at least 1 in Capital Case!
                                                        </label>
                                                        <label class="col" [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                                        <i class="{{ resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasSmallCase') ? 'fas fa-times-circle' : 'fas fa-check-circle' }}"></i>
                                                        Must contain at least 1 Letter in Small Case!
                                                        </label>
                                                        <label class="col" [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                                        <i class="{{ resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'fas fa-times-circle' : 'fas fa-check-circle' }}"></i>
                                                        Must contain at least 1 Special Character!
                                                        </label>
                                                    </div>

                                                        <div class="form-group">
                                                            <input type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" class="form-control" id="user-confirm-password" placeholder="Confirm Password" required>
                                                            <div class="mt-1" *ngIf="f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                                                                <div class="text-danger" *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                                                <div class="text-danger" *ngIf="f.confirmPassword.errors.mustMatch">Passwords does't match with confirm password</div>
                                                              </div>
                                                        </div>
                                                    
                                                    <div class="row pt-2">
                                                        <div class="col-12 col-md-6 mb-1">
                                                            <a routerLink="/login" class="btn btn-outline-primary btn-block px-0">Go Back to Login</a>
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-1">
                                                            <button type="submit" [disabled]="!resetPasswordForm.valid" [ngClass]="{'disable':!resetPasswordForm.valid}" (click)="onSubmit()" class="btn btn-primary btn-block px-0">
                                                                <span class="mt-1" *ngIf="this.submitted === true">
                                                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> loading...
                                                                  </span>
                                                                  <span *ngIf="this.submitted === false">
                                                                    Reset
                                                                    </span>
                                                            </button>
                                                            <div class="alert alert-danger w-100 mt-2" *ngIf="errorMessage" role="alert">
                                                                {{errorMessage}}
                                                              </div>
                                                              <div class="alert alert-danger w-100 mt-2" *ngIf="validationMessage.length >= 1" role="alert">
                                                                <ul>
                                                                  <li *ngFor="let message of validationMessage;">{{message}}</li>
                                                                </ul>
                                                              </div>
                                                        </div>
                                                    </div>
                                                </form>

                                                <form id="link-expire" class="r-pwd-form-b validate-form" style="display: none">
                                                    <span class="r-pwd-form-b-title">
                                                        Link Expired
                                                    </span>
                                
                                        <span class="r-pwd-form-b-caption">
                                                        <p>seems like you're using link which is already used or expired. </p>
                                                    </span>
                                        <div class="container-login100-form-btn mb-3">
                                          <a routerLink="/forgot-password" class="btn-bg" role="button">TRY AGAIN</a>
                                        </div>
                                                </form>

                                                <form id="password-updated" class="r-pwd-form-b validate-form" style="display: none">

                                                    <span class="r-pwd-form-b-title">
                                                      Password Updated
                                                    </span>
                                                      <span class="r-pwd-form-b-caption">
                                                      <p>You can now log in with the new password.</p>
                                                    </span>
                                                      <div class="container-login100-form-btn mb-1">
                                                        <a routerLink="/login" class="btn-bg" role="button">BACK TO LOG IN</a>
                                                      </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    </body>

    <!-- END: Content-->


   
