<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Publishers</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- Data list view starts -->
      <section id="data-list-view" class="data-list-view-header">

        <div class="top">
          <div class="row">
            <div class="col-4">
              <div class="actions action-btns float-left">
                <div class="dt-buttons btn-group">
                  <button (click)="gotoaddPage()" class="btn btn-outline-primary"><span><i class="feather icon-plus"></i> Add New</span></button>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="action-filters c-action-filters float-right">

                <div class="dataTables_length" id="DataTables_Table_0_length"><label><select (change)="onPageSizeChange($event)" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div>

                <div class="form-group has-search">
                  <span class="fa fa-search form-control-search"></span>
                  <input type="text" (change)="search($event)" [ngModel]="model.keyword" #SearchInput="ngModel" class="form-control c-form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- DataTable starts -->
        <div class="table-responsive">
          <table class="table data-list-view dataTable">
            <thead>
            <tr>
              <th class="d-sm-none d-md-none d-lg-block">LOGO</th>
              <th>NAME OF PUBLISHER</th>
              <th>CONTACT INFO</th>
              <th>DOMAIN</th>
              <th>STATUS</th>
              <th>REGISTERED SINCE</th>
              <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
              <tr class="t-loading" *ngIf="isLoading === true">
                <td colspan="6" class="text-center">
                  <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </td>
              </tr>
              <tr class="t-nodata-found" *ngIf="totalLength == 0">
                <td colspan="6" class="text-center">
                   No Data Found
                </td>
              </tr>
            <!-- Row 1 -->
            <tr *ngFor="let publisher of publisherList;let i = index">
              <td (click)="gotoviewPage(publisher)" class="d-sm-none d-md-none d-lg-block">
                <div class="p-img">
                  <img [src]="publisher?.photo ? photoUrl + publisher?.photo?.path : 'assets/img/noavatar.png'" onError="this.src='assets/img/noavatar.png'" class="td-img rounded-circle" alt="Publisher Podcast">
                </div>
              </td>
              <td class="product-name">
                <a href="javascript:void(0)" (click)="gotodetailpage(publisher)">
                 {{publisher?.publisherName}}
                </a>
                <a *ngIf="!publisher.publisherName">
                 N/A
                 </a>
              </td>
              <td class="product-category">
                <div class="p-em-name">
                  <p><strong>{{publisher?.fullName}}</strong></p>
                  <p *ngIf="!publisher?.fullName"><strong>N/A</strong></p>
                </div>
                <div class="p-email">
                  {{publisher?.email}}
                </div>
                <div *ngIf="!publisher?.email" class="p-email">
                  N/A
                </div>
              </td>
              <td>
                <div class="d-flex">
                  {{publisher?.domain}}
                  <a [href]="redirectToPage(publisher?.domain)" style="color:'#7367F0'" target="_blank">
                    <span class="d-ex-link"><i class="fa fa-external-link" aria-hidden="true"></i></span>
                </a>
                </div>
                <div  *ngIf="!publisher?.domain" class="d-flex">
                  N/A
                </div>
              </td>
              <td>
                <div *ngIf="publisher.isActive == 1" class="chip chip-success">
                  <div class="chip-body">
                    <div class="chip-text">Active</div>
                  </div>
                </div>
                <div *ngIf="publisher.isActive == 0" class="chip chip-danger">
                  <div class="chip-body">
                    <div class="chip-text">Inactive</div>
                  </div>
                </div>
              </td>
              <td>

                <span *ngIf="publisher?.registeredDate" class="text-superscript">
                  {{publisher?.registeredDate  | date: "d"}}
                  <sup>{{(publisher?.registeredDate | date: "d") | dateSuffix}}</sup>
                  {{publisher?.registeredDate  | date: "MMM"}},
                  {{publisher?.registeredDate  | date: "yyyy"}}
                </span>
                <span *ngIf="!publisher.registeredDate" class="text-superscript">
                  N/A
                </span>
                <!-- 28<sup>th</sup> Apr, 2020 -->
              </td>
              <td class="product-action">
                <button (click)="gotoeditpage(publisher)" type="button" class="btn btn-icon btn-outline-primary mr-1 mb-1 waves-effect waves-light"><i class="feather icon-edit"></i></button>
                <button (click)="removePublisher(publisher.id)" type="button" class="btn btn-icon btn-outline-danger mr-1 mb-1 waves-effect waves-light"><i class="feather icon-trash"></i></button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- DataTable ends -->

        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
          <ngb-pagination [maxSize]="5" [rotate]="true"
            [(page)]="finalPage"
            [pageSize]="pageSize"
            [collectionSize]="totalLength"
            (pageChange)="setPaginationPage($event)">
          </ngb-pagination>
        </div>
      </section>
      <!-- Data list view end -->
    </div>
  </div>
</div>
<!-- END: Content-->


<!-- Remove Publisher Modal-->
<div class="modal fade" id="removePublisherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Publisher</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "ok" below if you are ready to want to delete a publisher.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" (click)="removePublisherConfirm()">Ok</button>
      </div>
    </div>
  </div>
</div>

